.applicationDetails {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    padding: 30px 70px;
    justify-content: space-around;
    text-align: center;
}

.applicationDetails h1 {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.applicationDetails .addClientPopUp {
    position: fixed;
    padding: 20px 30px;
    /* margin-left: -30px; */
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
    height: 100vh;
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.applicationDetails .addClientPopUp .popUpContainer {
    background: #fff;
    border-radius: 20px;
    width: 500px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    height: 530px;
    overflow-y: scroll;
}

.applicationDetails .addClientPopUp .popUpContainer::-webkit-scrollbar {
    display: none;
}

.applicationDetails .addClientPopUp .popUpContainer .popUpFields {
    width: 100%;
}

.applicationDetails .addClientPopUp .popUpContainer button {
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 500;
    border: 1px solid #D3D3D3;
    background: #000;
    padding: 10px 10px;
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.applicationDetails .addClientPopUp .popUpContainer label {
    margin-left: 10px;
    font-weight: 500;
}

.applicationDetails .addClientPopUp .popUpContainer input,
.applicationDetails .addClientPopUp .popUpContainer select {
    padding: 10px 20px;
    width: 100%;
    border-radius: 26px;
    border: none;
    border: 1px solid #EDEDED;
    background: #FCFCFC;
    margin-top: 5px;
    outline: none;
}

.applicationDetails .addClientPopUp .popUpContainer select {
    width: fit-content;
    border-radius: 10px;
}

.applicationDetails .addClientPopUp .popUpContainer input::placeholder {
    color: #A3A3A3;
    font-weight: 300;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    border: 1px solid #EDEDED;
    border-radius: 20px;
    position: relative;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer::after {
    content: '\25BC';
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: 30px;
    transform: translateY(-50%);
    pointer-events: none;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 10px;
    padding-right: 25px;
    font-size: 16px;
    cursor: pointer;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

/* Style the hover state of options */
.applicationDetails .addClientPopUp .popUpContainer .subContainer select option:hover {
    background-color: #f0f0f0;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer .option {
    margin-bottom: -30px;
}

.applicationDetails .addClientPopUp .popUpContainer .addAndRmvBtn {
    margin-top: -10px;
    cursor: pointer;
    margin: 0 0 0 auto;
}

.applicationDetails .addClientPopUp .popUpContainer .subContainer .rmvBtn {
    position: absolute;
    left: 12px;
    cursor: pointer;
}

.applicationDetails .addClientPopUp .popUpContainer .btnS {
    display: flex;
    gap: 10px 20px;
    justify-content: center;
}

.applicationDetails .addClientPopUp .popUpContainer .btnS button {
    width: 100px;
    font-weight: 300;
    margin-top: 20px;
}

.applicationDetails .addClientPopUp .popUpContainer .btnS button:nth-child(1) {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.applicationDetails .applicationDetailsContainer {
    border-radius: 20px;
    background: #F4F4F4;
    /* min-width: 380px; */
    padding: 30px 70px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.applicationDetails .applicationDetailsContainer .country_name {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.applicationDetails .applicationDetailsContainer .country_name .countryIcon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #E6F5F5;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 100;
}

.applicationDetails .applicationDetailsContainer select {
    border: none;
    padding: 12px 20px;
    border-radius: 40px;
    background: #000;
    color: white;
    padding-right: 40px;
}

.applicationDetails .applicationDetailsContainer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.applicationDetails .applicationDetailsContainer select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

.applicationDetails .applicationDetailsContainer select option:hover {
    background-color: #f0f0f0;
}

.applicationDetails .applicationDetailsContainer ::after {
    content: '\25BC';
    font-size: 8px;
    position: absolute;
    top: 54px;
    right: 106px;
    color: #fff;
    transform: translateY(-50%);
    pointer-events: none;
}

.applicationDetails .applicationDetailsContainer .id {
    padding: 2px 40px;
    border-radius: 16px;
    border: 0.5px solid #DEDEDE;
    background: #E8E8E8;
    font-weight: bold;
}

.applicationDetails .applicationDetailsContainer .paymentType {
    padding: 5px 7px 5px 20px;
    border: 1px solid #CAC9C9;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    font-weight: 600;
    align-items: center;
    margin-top: 5px;
}

.applicationDetails .applicationDetailsContainer .paymentType span {
    border-radius: 50%;
    padding: 5px;
    display: flex;
    height: 30px;
    width: 30px;
    background: #E8E8E8;
    align-items: center;
    font-weight: 100;
    justify-content: center;
}

.applicationDetails .applicationDetailsContainer .createdDate {
    margin-top: 150px;
}

.applicationDetails .stageContainer {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 570px;
    overflow-y: scroll;
}

.applicationDetails .stageContainer h1 {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.applicationDetails .stageContainer::-webkit-scrollbar {
    display: none;
}

.applicationDetails .stageContainer .stage {
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    text-align: center;
}

.applicationDetails .stageContainer .stage .date {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #AEAEAE;
}

.applicationDetails .stageContainer .stage .level {
    height: 70px;
    width: 70px;
    border: 1px solid #E0E0E0;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    color: #A4A4A4;
    position: absolute;
    left: 25px;
}

.applicationDetails .stageContainer .stage .head {
    min-width: 260px;
    word-break: break-word;
    font-size: 24px;
    font-weight: 600;
}

.applicationDetails .stageContainer .stage a {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.applicationDetails .errContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 300px);
    width: 100%;
}

.applicationDetails .errContainer .err {
    background-image: url(../../atom/images/404.png);
    background-size: contain;
    height: 300px;
    width: 420px;
    background-repeat: no-repeat;
}

.applicationDetails .errContainer p {
    text-align: center;
}

.applicationDetails .errContainer .errMessage span {
    color: #8B8B8B;
    font-size: 30px;
}

.applicationDetails .errContainer .errMessage {
    color: #8B8B8B;
    font-size: 25px;
}


@media (max-width: 768px) {
    .applicationDetails {
        flex-direction: column;
        padding: 30px 20px;
    }

    .applicationDetails .applicationDetailsContainer {
        width: 100%;
        margin-top: 30px;
    }

    .applicationDetails .stageContainer {
        margin-top: 50px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .applicationDetails {
        padding: 30px 0px;
    }
    .applicationDetails .addClientPopUp {
        padding: 20px;
    }
    .applicationDetails .addClientPopUp .popUpContainer {
        padding: 40px 20px;
    }

    .applicationDetails .addClientPopUp .popUpContainer .btnS {
        flex-direction: column;
        align-items: center;
    }

    .applicationDetails .addClientPopUp .popUpContainer .btnS button {
        width: 100%;
        margin-top: 0px;
    }
}