.clientDetailsPage {
    display: flex;
    gap: 30px 60px;
    margin-top: 0px;
    padding: 60px 130px 10px;
    justify-content: space-around;
}

.clientDetailsPage .detailsContainer {
    border-radius: 20px;
    background: #F8F8F8;
    min-width: 400px;
    height: fit-content;
    flex: 1;
}

.clientDetailsPage .detailsContainer h1 {
    font-size: 30px;
    font-weight: 600;
}

.clientDetailsPage .detailsContainer hr {
    border-width: 0.1px 0px 0px 0px;
    border-color: #BCBCBC;
    border-style: solid;
    margin-top: 10px;
}



.clientDetailsPage .applicationContainer {
    margin-top: 50px;
    flex: 3;
    /* width: 350px; */
}

.clientDetailsPage .applicationContainer h1 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

.clientDetailsPage .applicationContainer .applications {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    max-height: 95vh;
    /* justify-content: center; */
    overflow-y: scroll;
}

.clientDetailsPage .applicationContainer .applications::-webkit-scrollbar {
    display: none;
}

.clientDetailsPage .errContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 300px);
    width: 100%;
}

.clientDetailsPage .errContainer .err {
    background-image: url(../../atom/images/404.png);
    background-size: contain;
    height: 300px;
    width: 420px;
    background-repeat: no-repeat;
}

.clientDetailsPage .errContainer p {
    text-align: center;
}

.clientDetailsPage .errContainer .errMessage span {
    color: #8B8B8B;
    font-size: 30px;
}

.clientDetailsPage .errContainer .errMessage {
    color: #8B8B8B;
    font-size: 25px;
}

@media (min-width: 1200px) {
    .clientDetailsPage .applicationContainer {
        min-width: 720px;
    }
}


@media (max-width: 768px) {
    .clientDetailsPage {
        flex-direction: column;
        padding: 30px 20px;
    }

    .clientDetailsPage .detailsContainer {
        width: 100%;
        margin-top: 30px;
        min-width: unset;
    }

    .clientDetailsPage .applicationContainer {
        margin-top: 50px;
        width: 100%;
    }

    .clientDetailsPage .applicationContainer .applications {
        justify-content: center;
    }

    .clientDetailsPage .applicationContainer .applications .application {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .clientDetailsPage {
        padding: 30px 0px;
    }

    .clientDetailsPage .detailsContainer .messageSection {
        margin: 30px 20px;
    }
}