.searchBarContainer {
    height: 65px;
    min-width: 390px;
    width: 390px;
    border-radius: 50px;
    border: 0.5px solid rgba(222, 222, 222, 0.75);
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 190px;
}

.searchBarContainer .searchIcon {
    background: #141220;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBarContainer input {
    width: 220px;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.searchBarContainer input::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: #D4D3D4;
}

.searchBarContainer p {
    font-size: 16px;
    color: #D4D3D4;
}

.searchBarContainer select {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: lighter;
    color: #141220;
    margin-left: 10px;
}

.addClientBtn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background: #141220;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.addClientBtn p {
    font-weight: 400;
    font-size: 0px;
    transition: all .3s ease-in-out;
}

.addClientBtn:hover>p {
    padding: 0px 20px 0px 5px;
    font-size:16px;
}