.searchBarContainer {
    height: 65px;
    min-width: 390px;
    width: 390px;
    border-radius: 50px;
    border: 0.5px solid rgba(222, 222, 222, 0.75);
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 190px;
    justify-content: space-between;
}

.searchBarContainer .searchIcon {
    background: #141220;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBarContainer input {
    width: 210px;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
}

.searchBarContainer input::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: #D4D3D4;
}

.searchBarContainer p {
    font-size: 16px;
    color: #D4D3D4;
}

.searchBarContainer select {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: lighter;
    color: #141220;
    margin-left: 10px;
    margin-right: 20px;
}

.searchBarContainer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.searchBarContainer select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

.searchBarContainer select option:hover {
    background-color: #f0f0f0;
}

.searchBarContainer::after {
    content: url("../atom/svgs/dd.svg");
    font-size: 14px;
    position: absolute;
    top: 32px;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.addClientBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #141220;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    z-index: 50;
}

.addClientBtn p {
    font-weight: 400;
    font-size: 0px;
    transition: all .3s ease-in-out;
}

.addClientBtn:hover>p {
    padding: 0px 20px 0px 5px;
    font-size: 16px;
}


.popUp {
    position: fixed;
    padding: 0px 20px;
    top: 0px;
    width: -webkit-fill-available;
    height: 100vh;
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.popUp .popUpContainer {
    background: #fff;
    border-radius: 20px;
    width: 500px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* text-align: left; */
    /* height: 530px; */
    overflow-y: scroll;
}

.popUp .popUpContainer h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.popUp .popUpContainer .btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popUp .popUpContainer::-webkit-scrollbar {
    display: none;
}

.popUp .popUpContainer button {
    border-radius: 30px;
    width: 140px;
    border: 1px solid #D3D3D3;
    background: #000;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.popUp .popUpContainer button:nth-child(1) {
    background: #fff;
    color: #000;
}


.topnav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.topnav p {
    cursor: pointer;
}

.topnav .btns {
    display: flex;
    gap: 20px;
}

.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}


@media (max-width: 700px) {
    .searchBarContainer {
        position: unset;
        min-width: 0;
        width: 100%;
    }

    .searchBarContainer input {
        width: 120px
    }

    .searchBarContainer::after {
        top: 172px;
        right: 50px;
    }

    .addClientBtn {
        bottom: 20px;
        right: 20px;
    }

    .topnav {
        padding: 20px 10px;
    }
}

@media (max-width:500px) {
    .searchBarContainer::after {
        top: 142px;
    }
}