.searchBarContainer {
    height: 65px;
    min-width: 390px;
    width: 390px;
    border-radius: 50px;
    border: 0.5px solid rgba(222, 222, 222, 0.75);
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 190px;
}

.searchBarContainer .searchIcon {
    background: #141220;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBarContainer input {
    width: 220px;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
}

.searchBarContainer input::placeholder {
    font-weight: 100;
    font-size: 20px;
    color: #D4D3D4;
}

.searchBarContainer p {
    font-size: 16px;
    color: #D4D3D4;
}

.searchBarContainer select {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: lighter;
    color: #141220;
    margin-left: 10px;
}

.addClientBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #141220;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    z-index: 50;
}

.addClientBtn p {
    font-weight: 400;
    font-size: 0px;
    transition: all .3s ease-in-out;
}

.addClientBtn:hover>p {
    padding: 0px 20px 0px 5px;
    font-size: 16px;
}

@media (max-width: 700px) {
    .searchBarContainer {
        position: unset;
        min-width: 0;
        width: 100%;
    }

    .searchBarContainer input {
        width: 120px
    }

    .addClientBtn {
        bottom: 20px;
        right: 20px;
    }
}

.topnav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.topnav p {
    cursor: pointer;
}

.topnav .btns {
    display: flex;
    gap: 20px;
}

.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}