.StageDetailsPage {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    padding: 30px 70px;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.StageDetailsPage .stageDetailsContainer {
    border-radius: 31px;
    border: 1px solid #D6D6D6;
    padding: 30px 60px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    width: 70%;
}

.StageDetailsPage .stageDetailsContainer hr {
    margin-left: -60px;
    width: calc(100% + 120px);

}

.StageDetailsPage .stageDetailsContainer .StageDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.StageDetailsPage .stageDetailsContainer .StageDetails .selectContainer select option {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.StageDetailsPage .stageDetailsContainer .StageDetails .selectContainer select option:hover {
    background-color: #f0f0f0;
}


.StageDetailsPage .stageDetailsContainer .StageDetails .selectContainer::after {
    content: '\25BC';
    font-size: 8px;
    position: absolute;
    top: 22px;
    right: 20px;
    color: #fff;
    transform: translateY(-50%);
    pointer-events: none;
}

.StageDetailsPage .stageDetailsContainer .StageDetails .responseField {
    margin: 0px 0px 20px 0px;
    position: relative;
}

.StageDetailsPage .stageDetailsContainer .StageDetails .responseField button {
    position: absolute;
    right: 5px;
    bottom: 9px;
    border-radius: 50%;
    background: #000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    cursor: pointer;
}

.StageDetailsPage .stageDetailsContainer .StageDetails .responseField textarea {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    padding: 3px 20px;
    width: 310px;
    font-size: 16px;
    min-height: 55px;
    /* margin: 0px 0px 20px 0px; */
}


.StageDetailsPage .stageDetailsContainer .assetContainer {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    padding: 20px;
    border-radius: 20px;
    background: #D9D9D9;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StageDetailsPage .stageDetailsContainer .assetContainer .label {
    margin: 10px 0px;
}

.StageDetailsPage .stageDetailsContainer .assetContainer .assets {
    padding: 15px 30px;
    background: #fff;
    border-radius: 40px;
}

.StageDetailsPage select {
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    background: #000;
    color: white;
    text-align: center;
}

.StageDetailsPage .bottomSelect {
    padding: 15px 20px;
}

.StageDetailsPage .bottomSelectoption {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

.StageDetailsPage .selectContainer {
    position: relative;
}

.StageDetailsPage .selectContainer select {
    padding-right: 40px;
}

.StageDetailsPage .selectContainer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.StageDetailsPage .selectContainer select option:hover {
    background-color: #f0f0f0;
}

.StageDetailsPage .selectContainer::after {
    content: '\25BC';
    font-size: 8px;
    position: absolute;
    top: 28px;
    right: 20px;
    color: #fff;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 768px) {
    .StageDetailsPage {
        padding: 30px 20px;
    }

    .StageDetailsPage .stageDetailsContainer {
        width: 100%;
        margin-top: 30px;
        padding: 30px 25px;
    }
}

@media (max-width: 500px) {
    .StageDetailsPage .stageDetailsContainer hr {
        margin-left: -25px;
        width: calc(100% + 50px);
    }
}