.homePage {
    margin-top: 40px;
}

/* .homePage section p{
text-align: left;
} */
.homePage section {
    margin-top: 20px;
}
.homePage section .monthYear{
    margin-top: 20px;
}

.homePage .addClientPopUp {
    position: fixed;
    padding: 20px 30px;
    margin-left: -30px;
    top: 0px;
    width: -webkit-fill-available;
    height: 100vh;
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.homePage .addClientPopUp .popUpContainer {
    background: #fff;
    border-radius: 20px;
    width: 500px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homePage .addClientPopUp .popUpContainer label {
    margin-left: 10px;
}

.homePage .addClientPopUp .popUpContainer input {
    padding: 10px 20px;
    width: 100%;
    border-radius: 26px;
    border: none;
    border: 1px solid #EFEFEF;
    background: #F6F6F6;
    margin-top: 5px;
    outline: none;
}

.homePage .addClientPopUp .popUpContainer input::placeholder {
    color: #A3A3A3;
    font-weight: 300;
}

.homePage .addClientPopUp .popUpContainer .btnS {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.homePage .addClientPopUp .popUpContainer .btnS button {
    width: 100px;
    font-weight: 300;
    margin-top: 20px;
}

.homePage .addClientPopUp .popUpContainer .btnS button:nth-child(1) {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.homePage button {
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 500;
    border: 1px solid #D3D3D3;
    background: #000;
    padding: 10px 10px;
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.homePage .errContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 300px);
}

.homePage .errContainer .err {
    background-image: url(../../atom/images/404.png);
    background-size: contain;
    height: 300px;
    width: 420px;
    background-repeat: no-repeat;
}

.homePage .errContainer p {
    text-align: center;
}

.homePage .errContainer .errMessage span {
    color: #8B8B8B;
    font-size: 30px;
}

.homePage .errContainer .errMessage {
    color: #8B8B8B;
    font-size: 25px;
}

.homePage .cardsContainer {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.homePage .cardsContainer .card {
    min-width: 300px;
    border: 0.5px solid #DEDEDE;
    border-radius: 16px;
    padding: 20px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.homePage .cardsContainer .card .cardTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homePage .cardsContainer .card .cardTopSection p:nth-child(1) {
    padding: 2px 30px;
    border-radius: 16px;
    border: 0.5px solid #DEDEDE;
    background: #FAF8F9;
    font-weight: bold;
}

.homePage .cardsContainer .card .cardTopSection p:nth-child(2) {
    font-size: 12px;
}

.homePage .cardsContainer .card .cardMainSection p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.homePage .cardsContainer .card .cardMainSection p:nth-child(2) {
    color: rgba(0, 0, 0, 0.69);
}

.homePage .cardsContainer .card .cardBottomSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.homePage .cardsContainer .card .cardBottomSection a {
    height: 37px;
}

.homePage .cardsContainer .card .cardBottomSection .countries {
    display: flex;
    gap: 20px;
}

.homePage .cardsContainer .card .cardBottomSection .countries .country {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #E6F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    .homePage .cardsContainer {
        justify-content: center;
    }

    .homePage .cardsContainer .card {
        min-width: 300px;
    }
}

@media (max-width: 500px) {
    .homePage {
        margin-top: 70px;
    }
}