.homePage {
    margin-top: 40px;
}

/* .homePage section p{
text-align: left;
} */
.homePage section {
    margin-top: 20px;
}

.homePage .cardsContainer {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.homePage .cardsContainer .card {
    min-width: 300px;
    border: 0.5px solid #DEDEDE;
    border-radius: 16px;
    padding: 20px 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.homePage .cardsContainer .card .cardTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homePage .cardsContainer .card .cardTopSection p:nth-child(1) {
    padding: 2px 40px;
    border-radius: 16px;
    border: 0.5px solid #DEDEDE;
    background: #FAF8F9;
    font-weight: bold;
}

.homePage .cardsContainer .card .cardTopSection p:nth-child(2) {
    font-size: 12px;
}

.homePage .cardsContainer .card .cardMainSection p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.homePage .cardsContainer .card .cardMainSection p:nth-child(2) {
    color: rgba(0, 0, 0, 0.69);
}

.homePage .cardsContainer .card .cardBottomSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.homePage .cardsContainer .card .cardBottomSection .countries {
    display: flex;
    gap: 20px;
}

.homePage .cardsContainer .card .cardBottomSection .countries .country {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #E6F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}