.topNav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.topNav .notification {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url(../../atom/images/notificationicon.png), #141220;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.topNav .profilePic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}

.topNav .profilePic button {
    position: absolute;
    bottom: -30px;
    padding: 5px;
    width: 70px;
    left: -10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 500px) {
    .topNav {
        position: fixed;
        left: 0;
        width: 100%;
        background: #fff;
        margin: -40px 0px;
        padding: 20px;
    }
}